body 
{
	background: yellow;
}
#img 
{
	width: 200px;
	height: 100px;
	margin-left: 60%;
	border-radius: 5px;
}
#img img
{
	height: 100px;
	width: 150px;

	border-radius: 15px;
	margin-top: 5%;
}
header 
{
	background: yellow;
	border-radius: 15px;
}
h2
{
	margin-left: 52%;
	margin-top: 3%;
}
label
{
    display:inline-block;
    margin-top:20px;
    margin-left: 15px;
    padding: 3px;
    width: 100px;
}

input
{
	border-radius: 15px;
	border: none;
	padding: 3px;
	width: 135px;
}
#formulario1  
{
	width: 42%;
	height: 30%;
	background: #D8D8D8;
	margin: 1%;
	display: inline-block;
	margin-left: 40px;
	margin-top: -7%;
	border-radius: 15px;
	box-shadow: 10px 10px 10px black;
}
#formulario2
{
	display: inline-block;
	width: 40%;
	height: 30%;
	background: #D8D8D8;
	margin: 1%;
	border-radius: 15px;
	box-shadow: 10px 10px 10px black;

}
#folio
{
	text-align: center;
}
#ciudad
{
	text-align: left;
}
#email
{
	text-align: left;
}
#botones
{
	margin: 3%;
	text-align: center;
}
#habita
{
	text-align: left;
}
#anti
{
	text-align: left;
}
#boni 
{
	margin: 2%;
	text-align: center;
}