body 
{
	background: yellow;
}
header img
{
	width: 250px;
	height: 150px;
	border-radius: 15px;
	margin-top: 0%;
	float: right;
	margin-right: 4%;
}
#jugos img 
{
	width: 120px;
	height: 120px;
	border-radius: 15px;
}
#menus
{
	margin: 4%;
	display: inline-block;
	background: #80FF00;
	text-align: center;
	border-radius: 15px;
}
label
{
	display: inline;

}
input
{
	text-align: center;
	padding: 3px;
	border-radius: 15px;
}

#formularios
{
	background: #80FF00;
	height: 500px;
	border-radius: 15px;
	margin: 1%;
	text-align: center;
}
#folio 
{
	float: right;
}


