.tablas {
	margin:0px;padding:0px;
	width:100%;
	border:4px solid #000000;
	border-radius: 15px;
}
.tablas table{
	width:100%;
	height:100%;
	margin:0px;padding:0px;
	text-align: center;
	box-shadow: 10px 10px 10px black;
}
/*.tablas tr:hover td{
	background-color:#D8D8D8;
	
}*/
.tablas tr:first-child td{
	background:black;
	border:0px solid white;
	text-align:center;
	border-width:0px 0px 1px 1px;
	font-size:18px;
	font-family:Arial;
	font-weight:bold;
	color:white;
	border-radius: 10px;

}

/*.tablas td
{
	background:red;
	border:1px solid yellow;
	border-width:0px 1px 1px 0px;
	text-align:left;
	padding:7px;
	font-size:12px;
	font-family:Arial;
	font-weight:bold;
	color:black;

}*/
tr:nth-of-type(even){
	background-color: #E6E6E6;
}

tr:nth-of-type(odd){
	background-color: #A4A4A4;
}
input
{
	border-radius: 15px;
	text-align: center;
	margin-top: 4%;

}

.tablas td
{
	border-radius: 5px;
}





