label{
	display: inline-block;
	width: 90px;
	padding-top: 10px;
}

label#x1{
	
	width: 150px;
}

label#x2{
	
	width: 80px;

}

input
{
	border-radius: 7px; 
	margin-bottom: 20px;
	width: 130px;
	border: none;
	padding: 3px;
}

input#b1{
	width: 50px;
	padding-left: 10px;
	margin-right:75px;
}


article
{
	text-align: center;
	color: white;
	margin-right: 80px;
	margin-top: -30px
}


section {
	width:38%;
	display:inline-block;
	vertical-align: top;
	margin-right: 90px;
	margin-left: 50px;
	text-align: center;
	background: blue;
	border-radius: 15px;
	box-shadow: 10px 10px 10px black;
	text-align: center;
	padding-top: 1px;
	padding-bottom: 30px;
	display: inline-block;
	text-align: top;
	color: cyan;
}

img{
	height: 100px;
	width: 150px;
}

body{
	background: white;
}
h2{
	color: orangered;
}

p{
	color: orangered;
}