form#a1
{
	background: blue;
	width: 100%;
	margin: 2% 2%;
	border-radius: 15px;
	box-shadow: 10px 10px 10px black;
	text-align: center;
	padding-top: 1px;
	padding-bottom: 30px;
	display: inline-block;
	text-align: top;
}

form#a2
{
	background: blue;
	width: 100%;
	margin: 5% 2%;
	border-radius: 15px;
	box-shadow: 10px 10px 10px black;
	text-align: center;
	padding-top: 1px;
	padding-bottom: 30px;
	display: inline-block;
	text-align: top;
	color: ;
}

label{
	display: inline-block;
}



input
{
	border-radius: 7px; 
	margin-bottom: 20px;
	width: 130px;
}


article
{
	text-align: right;
	color: white;
	margin-right: 210px;
	margin-top: -20px
}


section {
	width:38%;
	display:inline-block;
	vertical-align: top;
	margin-right: 90px;
	margin-left: 50px;
	text-align: center;
}

img{
	height: 100px;
	width: 150px;
}

body{
	background: yellow;
}